<mat-sidenav-container *ngIf="package$ | async as package">
  <mat-sidenav class="sidenav" align="start" mode="side" opened="true">
    <mat-nav-list role="list">
      <h3 mat-subheader>Other Versions</h3>
      <mat-list-item role="listitem" *ngFor="let child of package.children">
        <a [routerLink]="['/packages', package.name, child.version]">{{child.version}}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
      <app-package-card [package]="package"></app-package-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
