<mat-card>
  <mat-card-header>
    <mat-card-title>
      <a [routerLink]="['/packages', package.name, package.version]">{{package.name}}</a>
    </mat-card-title>
    <mat-card-subtitle>{{package.version}}</mat-card-subtitle>
    <span>{{package.title}}</span>
  </mat-card-header>
  <mat-card-content>
    <p>{{package.description}}</p>

    <h5 mat-subheader>Authors</h5>
    <span *ngFor="let author of package.authors">{{author.name}} | </span>

    <h5 mat-subheader>Maintainers</h5>
    <span *ngFor="let maintainer of package.maintainers">{{maintainer.name}} | </span>
  </mat-card-content>
</mat-card>
