<div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
  <app-package-card [package]="package" *ngFor="let package of packages$ | async as packages;"></app-package-card>
</div>
